{erl_opts, [debug_info, {i, "include"}]}.

{deps, [{p1_tls, ".*", {git, "https://github.com/processone/tls"}},
	{p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.2"}}}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls, deprecated_functions]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
