{erl_opts, [debug_info,
            {i, "include"},
            {i, "../logger/include"},
            {i, "deps/logger/include"}]}.

{deps, [{logger, ".*", {git, "git://github.com/processone/p1_logger"}},
        {tls, ".*", {git, "git://github.com/processone/tls"}}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
